{% extends "blog/base.html" %}

{% block content %}


  <br>
  <div class="div12">
    {% if user.is_authenticated and not user.is_superuser %}
      <div class="user-profile-info">
        <!-- <h1>{{ user.username }}</h1> -->
        <br>
        <img src="{{ user.profile.image.url }}" width="300px">
        <hr>
        <h1>Username - {{ user.username }}</h1>
        <h3>Email - {{ user.email }}</h3>
      </div>
    {% else %}
      <div class="user-profile-info">
        <h1>
          Here must be your <br>profile's information!
        </h1>
        <br>
        <a href="{% url 'login' %}"><h1>Sing in for it!!!</h1></a>
      </div>
    
    {% endif %}  
    <div class="articles-div">

      {% for post in posts %}
        <article class="myarticle">
          <div class="post-div">
            <hr>
            <div class="post-author-info">
              <img class="article-img" src="{{ post.author.profile.image.url }}">
              <a class="post-author-name" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            </div>
            <hr>

            <h2><a class="" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="">{{ post.content }}</p>
            <img src="{{ post.img.url }}" width="500px">
              <p class="post-date">{{ post.date_posted}}</p>

            <hr>
          </div>

          <div class="post-comments-div">

            <h3>Coments...</h3>
            <hr>

            {% if not post.comments.all %}
              <p>No comments yet</p>
              {% if user.is_authenticated and not user.is_superuser %}
              <div class="div" style="display: flex;align-items: end; justify-content: start;">
                <a href="{% url 'add_comment' post.pk %}"><button class="btn btn-outline-info">ADD COMMENT</button></a>
                <form method="post" action="{% url 'like_post' post.pk %}">
                  {% csrf_token %}
                  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-info">
                    Like - {{ post.total_likes }}
                  </button>
                </form>
                
                <form action="{% url 'post-likers' post.pk %}" method="post">
                  {% csrf_token %}
                  <a href=""><button class="btn btn-outline-info" name="psot_id" value="{{ post.id }}">LIKES</button></a>
                </form>

              </div>
              {% else %}
                <a href="{% url 'login' %}"><button class="btn btn-outline-info">ADD COMMENT</button></a>
              {% endif %}

            {% else %}
              {% for i in post.comments.all %}
                <div class="coment" style="display: flex;align-items: start;justify-content: start;">
                  <div class="comment-image">
                    <img class="rounded-circle article-img" style="width: 50px;height: 50px;" src="{{ i.user.profile.image.url }}">
                  </div>
                  <div class="coment-text" style="align-items: end;display: block;justify-content: start;">
                    <h6><a href="{% url 'user-posts' i.user %}">{{ i.user }}</a> - {{ i.date_added }}</h6>
                    <p style="color:#000000; font-size: 16px;">{{ i.content }}</p>
                  </div>
                </div>
                  
              {% endfor %}

              {% if user.is_authenticated and not user.is_superuser %}
                <div class="div" style="display: flex;align-items: end; justify-content: start;">
                  <a href="{% url 'add_comment' post.pk %}"><button class="btn btn-outline-info">ADD COMMENT</button></a>
                  <form method="post" action="{% url 'like_post' post.pk %}">
                    {% csrf_token %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-info">
                      Like - {{ post.total_likes }}
                    </button>
                  </form>
                  <a href="{% url 'post-likers' post.pk %}"><button class="btn btn-outline-info">LIKES</button></a>
                </div>
              {% else %}
                <a href="{% url 'login' %}"><button class="btn btn-outline-info">ADD COMMENT</button></a>
              {% endif %}
            {% endif %}
          </div>
        </article>
      {% endfor %}
      <hr>


      {% if is_paginated %}

        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

      {% endif %}

    </div>
  </div>

    
{% endblock content %}
